@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Пицерия </title>
</head>
<body>
<div>
    <h3>Покупка пиццы</h3>
    <table>
        <tr><td><p>Название пиццы</p></td>
            <td><p>Диаметр</p></td>
            <td><p>Состав</p></td><td></td>
        </tr>
        @foreach (var b in ViewBag.Pizzas)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Diameter</p></td>
                <td><p>@b.Composition</p></td>
            </tr>
        }
    </table>
</div>
</body>
</html>